Name:G.Phanindra

Roll No: 20X01A6702

Branch:cse-data science

college: Narsimha Reddy Engineering College

Github profile:https://github.com/dashboard

**Project title:** Predict the heart attack disease for organization who in the form ,using machine learning algorithm rate of heaart attack disease will incrasing and decreasing manner.

**project title:** A who estimated 12 million death records.one of them half of the deatth result is found in us. the research scholar point out the most relevent qrisk factor of heart attack as a data science engineer predict the overall wrisk using machine learning algorithm called as logistic regression

Task 1: Import the liraries which required for the prediction

TASK 2: Import the dataset by using your work space.

Task 3: Use the appropiate argument of sk learn library to train,test and aplit
the dataset

Task 4: Fit your values with arange function using feature scaling

Task5: Check your model accuracy and precision using confusion matrix

In [ ]:
#Import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
# load dataset
data=pd.read_csv("framingham.csv")
data

,male,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
0,1,39,4.0,0,0.0,0.0,0,0,0,195.0,106.0,70.0,26.97,80.0,77.0,0
1,0,46,2.0,0,0.0,0.0,0,0,0,250.0,121.0,81.0,28.73,95.0,76.0,0
2,1,48,1.0,1,20.0,0.0,0,0,0,245.0,127.5,80.0,25.34,75.0,70.0,0
3,0,61,3.0,1,30.0,0.0,0,1,0,225.0,150.0,95.0,28.58,65.0,103.0,1
4,0,46,3.0,1,23.0,0.0,0,0,0,285.0,130.0,84.0,23.10,85.0,85.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4233,1,50,1.0,1,1.0,0.0,0,1,0,313.0,179.0,92.0,25.97,66.0,86.0,1
4234,1,51,3.0,1,43.0,0.0,0,0,0,207.0,126.5,80.0,19.71,65.0,68.0,0
4235,0,48,2.0,1,20.0,NaN,0,0,0,248.0,131.0,72.0,22.00,84.0,86.0,0
4236,0,44,1.0,1,15.0,0.0,0,0,0,210.0,126.5,87.0,19.16,86.0,NaN,0
4237,0,52,2.0,0,0.0,0.0,0,0,0,269.0,133.5,83.0,21.47,80.0,107.0,0

In [ ]:
# Import sklearn library
from sklearn.model_selection import train_test_split

In [ ]:
x=data[['age']]
y=data[['currentSmoker']]
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.4,random_state=0)

In [ ]:
print(x_train)

      age
3218   42
590    60
3880   41
1548   59
2601   55
...   ...
1033   44
3264   51
1653   39
2607   57
2732   40

[2542 rows x 1 columns]

In [ ]:
print(x_test)

      age
1669   47
156    58
87     61
685    45
666    57
...   ...
2790   53
1855   66
700    60
2060   38
2348   48

[1696 rows x 1 columns]

In [ ]:
print(y_train)

      currentSmoker
3218              1
590               1
3880              0
1548              0
2601              1
...             ...
1033              0
3264              1
1653              1
2607              0
2732              1

[2542 rows x 1 columns]

In [ ]:
print(y_test)

      currentSmoker
1669              0
156               0
87                1
685               0
666               0
...             ...
2790              0
1855              0
700               0
2060              0
2348              1

[1696 rows x 1 columns]

In [ ]:

# feature Scaling
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(x_train)
X_test = sc.transform(x_test)

In [ ]:
print(x_train)

[[ 0.   42.    1.   ... 23.43 95.   85.  ]
 [ 0.   60.    2.   ... 24.22 90.   59.  ]
 [ 1.   41.    2.   ... 18.76 65.   60.  ]
 ...
 [ 1.   39.    3.   ... 24.47 70.   81.  ]
 [ 0.   57.    1.   ... 24.27 75.   81.  ]
 [ 0.   40.    2.   ... 26.56 75.   73.  ]]

In [ ]:
print(x_test)

[[ 0.   47.    1.   ... 27.64 75.   62.  ]
 [ 0.   58.    2.   ... 23.36 60.   73.  ]
 [ 0.   61.    2.   ... 38.46 57.   78.  ]
 ...
 [ 0.   60.    1.   ... 24.48 75.   90.  ]
 [ 1.   38.     nan ... 26.89 66.   82.  ]
 [ 1.   48.    4.   ... 25.09 67.   85.  ]]

In [ ]:
# training logistic regression model

from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression(random_state = 0)
classifier.fit(x_train, y_train)

/usr/local/lib/python3.10/dist-packages/sklearn/utils/validation.py:1143: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

LogisticRegression(random_state=0)

In [ ]:
print(classifier.predict(sc.transform([[41]])))

[1]

/usr/local/lib/python3.10/dist-packages/sklearn/base.py:439: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  warnings.warn(
/usr/local/lib/python3.10/dist-packages/sklearn/base.py:439: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(

In [ ]:
from sklearn.metrics import confusion_matrix, accuracy_score
cm = confusion_matrix(y_test, y_pred)
print(cm)
accuracy_score(y_test, y_pred)

[[  0 874]
 [  0 822]]

0.4846698113207547

**Conclusion: According to the model analysis the LogesticRegression Algorithm works successfully with 0.4 accuracy.

The accuracy shows that building the model is successful.